<div *ngIf="form != null">
  <div id="form-details" class="my-3">
    <h1>Form Details</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <fieldset [disabled]="!editMode">
        <div class="mb-3">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            id="name"
          />
          <div
            class="text-danger"
            *ngIf="
              formGroup?.get('name')?.invalid && formGroup?.get('name')?.touched
            "
          >
            <div *ngIf="formGroup?.get('name')?.errors?.['required']">
              Name is required
            </div>
            <div *ngIf="formGroup?.get('name')?.errors?.['maxlength']">
              Name cannot be longer than 50 characters
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
            id="description"
          />
          <div
            class="text-danger"
            *ngIf="
              formGroup?.get('description')?.invalid &&
              formGroup?.get('description')?.touched
            "
          >
            <div *ngIf="formGroup?.get('description')?.errors?.['required']">
              Description is required
            </div>
            <div *ngIf="formGroup?.get('description')?.errors?.['maxlength']">
              Description cannot be longer than 200 characters
            </div>
          </div>
        </div>
      </fieldset>

      <button
        type="button"
        class="btn btn-primary"
        *ngIf="!editMode"
        (click)="editMode = true"
      >
        Edit
      </button>

      <button
        type="submit"
        class="btn btn-primary"
        *ngIf="editMode"
        [disabled]="!(formGroup.dirty && formGroup.valid)"
      >
        Submit
      </button>

      <button
        type="button"
        class="btn btn-danger ms-4"
        *ngIf="editMode"
        (click)="resetForm()"
      >
        Cancel
      </button>
    </form>
  </div>

  <hr />

  <div id="form-templates" class="my-3">
    <h2 class="h3">Form Templates</h2>
    <table class="table" *ngIf="form.formTemplates.length">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">File Location</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formTemplate of form.formTemplates">
          <td>{{ formTemplate.id }}</td>
          <td>{{ formTemplate.name }}</td>
          <td>{{ formTemplate.description }}</td>
          <td>{{ formTemplate.fileLocation }}</td>
          <td>
            <span *ngIf="formTemplate.status == 0">Active</span>
            <span *ngIf="formTemplate.status == 1">Disabled</span>
            <span *ngIf="formTemplate.status == 2">Deleted</span>
          </td>
          <td>
            <a [routerLink]="['templates', formTemplate.id]">More Details</a>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      class="btn btn-outline-primary"
      *ngIf="!addTemplateMode"
      (click)="addTemplateMode = true"
    >
      Add Template
    </button>
    <div *ngIf="addTemplateMode">
      <form [formGroup]="templateGroup" (ngSubmit)="submitTemplate()">
        <div class="mb-3">
          <label for="name">Name</label>
          <input type="text" class="form-control" formControlName="name" />
          <div
            class="text-danger"
            *ngIf="
              templateGroup?.get('name')?.invalid &&
              templateGroup?.get('name')?.touched
            "
          >
            <div *ngIf="templateGroup?.get('name')?.errors?.['required']">
              Name is required
            </div>
            <div *ngIf="templateGroup?.get('name')?.errors?.['maxlength']">
              Name cannot be longer than 50 characters
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
          />
          <div
            class="text-danger"
            *ngIf="
              templateGroup?.get('description')?.invalid &&
              templateGroup?.get('description')?.touched
            "
          >
            <div
              *ngIf="templateGroup?.get('description')?.errors?.['required']"
            >
              Description is required
            </div>
            <div
              *ngIf="templateGroup?.get('description')?.errors?.['maxlength']"
            >
              Description cannot be longer than 200 characters
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="templateFile" class="visually-hidden"
            >Template HTML file</label
          >
          <input
            type="file"
            accept="application/msword, application/pdf, text/html, text/plain"
            class="d-none"
            (change)="onTemplateFileSelected($event)"
            #templateFile
          />
          <div class="input-group" (click)="templateFile.click()">
            <button class="form-control text-start">
              {{
                templateFileName ||
                  "Select a file (word document, pdf document, html file, or plain text file)."
              }}
            </button>
            <button class="btn btn-outline-primary">Add file</button>
          </div>
          <div
            class="text-danger"
            *ngIf="
              templateGroup?.get('templateFile')?.invalid &&
              templateGroup?.get('templateFile')?.touched
            "
          >
            <div
              *ngIf="templateGroup?.get('templateFile')?.errors?.['required']"
            >
              Template HTML file is required
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" *ngIf="addTemplateMode">
          Submit
        </button>
        <button class="btn btn-outline-danger ms-4" (click)="resetTemplate()">
          Cancel
        </button>
      </form>
    </div>
  </div>

  <hr />

  <div id="audit-info" class="my-3">
    <h2 class="h3">Audit Details</h2>
    <div class="row my-3">
      <div class="col">
        <div class="form-label">Created At</div>
        <div class="form-control" [style]="{ '--bs-border-opacity': '0.5' }">
          {{ form.createdAt }}
        </div>
      </div>
      <div class="col">
        <div class="form-label">Created By</div>
        <div class="form-control" [style]="{ '--bs-border-opacity': '0.5' }">
          {{ form.createdBy }}
        </div>
      </div>
      <div class="col">
        <div class="form-label">Created On</div>
        <div class="form-control" [style]="{ '--bs-border-opacity': '0.5' }">
          <span *ngIf="form != null">{{
            form.createdOn | date: "MM/dd/yyyy h:mm:ss a"
          }}</span>
        </div>
      </div>
    </div>

    <div class="row my-3" *ngIf="form.lastModOn != null">
      <div class="col">
        <div class="form-label">Last Modified At</div>
        <div class="form-control" [style]="{ '--bs-border-opacity': '0.5' }">
          {{ form.lastModAt }}
        </div>
      </div>
      <div class="col">
        <div class="form-label">Last Modified By</div>
        <div class="form-control" [style]="{ '--bs-border-opacity': '0.5' }">
          {{ form.lastModBy }}
        </div>
      </div>
      <div class="col">
        <div class="form-label">Last Modified On</div>
        <div class="form-control" [style]="{ '--bs-border-opacity': '0.5' }">
          {{ form.lastModOn | date: "MM/dd/yyyy h:mm:ss a" }}
        </div>
      </div>
    </div>

    <div class="row my-3" *ngIf="form.deletedOn != null">
      <div class="col">
        <div class="form-label">Deleted At</div>
        <div class="form-control" [style]="{ '--bs-border-opacity': '0.5' }">
          {{ form.deletedAt }}
        </div>
      </div>
      <div class="col">
        <div class="form-label">Deleted By</div>
        <div class="form-control" [style]="{ '--bs-border-opacity': '0.5' }">
          {{ form.deletedBy }}
        </div>
      </div>
      <div class="col">
        <div class="form-label">Deleted On</div>
        <div class="form-control" [style]="{ '--bs-border-opacity': '0.5' }">
          {{ form.deletedOn | date: "MM/dd/yyyy h:mm:ss a" }}
        </div>
      </div>
    </div>
  </div>
</div>
