<div class="wrapper">
  <div class="col">
    @for (node of nodes; track node.id) {
    <div class="drag-drawflow"
         draggable="true"
         (dragstart)="onDrag($event)"
         [attr.data-node]="node.name">
      <i class="{{ node.iconClass }}"></i>
      <span class="ms-2">{{ node.displayName }}</span>
    </div>
    }
  </div>
  <div class="col-right">
    <div id="drawflow" (drop)="onDrop($event)" (dragover)="allowDrop($event)">
      <div class="btn-export" (click)="onSaveWorkflow()">Save</div>
      <div class="btn-clear" (click)="onClear()">Clear</div>
      <div class="btn-lock">
        <i id="lock" class="fa fa-lock" (click)="onLock()"></i>
        <i id="unlock"
           class="fa fa-unlock-alt"
           (click)="onUnlock()"
           style="display: none"></i>
      </div>
      <div class="bar-zoom">
        <i class="fa fa-search-minus" (click)="onZoomOut()"></i>
        <i class="fa fa-search mx-2" (click)="onZoomReset()"></i>
        <i class="fa fa-search-plus" (click)="onZoomIn()"></i>
      </div>
    </div>
  </div>
</div>
